@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap);

body {
    cursor: url("../pictures/icons8-w-в-круге-24.png"),  auto;
}

.wrapper {
    background-color: #212020;
    width: 1920px;
    height: 3603px;
    position: relative;
    z-index: 0;
}
.head {
    height: 20%;
    position: relative;
    width: 100%;
    display: block;
    z-index: 1;
}
.headerPicture {
    scroll-behavior: smooth;
}
.fullLogoStatic {

     z-index: 8;
     top:0;
     left: 0.6%;
     position: absolute;
 }
.fullLogoMove {
    position: fixed;
    z-index: 10;
    top:0.9%;
    left: 0.6%;
}
.fullLogoImg {
    width: 12.27px;
    height: 15px;
    background: #FFFFFF;
    top:0.9%;
    left: 0.6%;
    position: fixed;
    z-index: 9;
}
.menu {
    position: absolute;
    z-index: 5;
    display: flex;
    flex-flow: row;
    color: white;
    left: 60%;
    top: 8.5%;
    margin: 0 -45px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

}
 .call {
    cursor: pointer;
}
.menu span {
    color: #ADC62C;
}
.item {
    margin: 0 45px;
    display: flex;
}
.burgerRound {
    position: absolute;
    z-index: 4;
    right: 5.1%;
    top: 6.8%;
    cursor: pointer;
    width: 46px;
    height: 46px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 45px 45px;
}
.burgerRound:hover {
    width: 46px;
    height: 46px;
    border: 1px solid green;
    box-sizing: border-box;
    border-radius: 45px 45px;
    transition: 1s linear;
}
.burgerLines {
    position: absolute;
    z-index: 6;
    right: 5.9%;
    top: 9.3%;
    cursor: pointer;
}
.grape4Img {
    position: absolute;
    z-index: 4;
    top: 30%;
    left: 10%;
}
.grape1Img {
    position: absolute;
    z-index: 4;
    top:80%;
    left:0;
}
.grape2Img {
    position: absolute;
    z-index: 4;
    top:20%;
    right:0;
}
.grape3Img {
    position: absolute;
    z-index: 4;
    top:75%;
    right:20%;
}
.headerPicture {
    position: relative;
    top: 0;
   opacity: 0.7;
    background: black url("../pictures/201905_or 1.jpg") center center;
    background-blend-mode: hard-light;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    display: block;
    background-position: 50%;
    margin: auto;
    box-shadow:  0 0 48px 48px  #151515 inset;
    z-index: 2;
}

.grape {
    z-index: 4;
    top: 18%;
    left: 38%;
    width: 25%;
    height:100%;
    position: absolute;
    display: block;
}
.grapeImg {
    width: 100%;
    height: 100%;
}
.bottle {
    z-index: 5;
    top: 50%;
    left: 45%;
    width: 25%;
    height:100%;
    position: absolute;
    display: block;
}

.introgrape13{
     z-index: 5;
     position: absolute;
     display: block;
     top: 40%;
     left: 0;
    animation: introGrape13Animation 6s 1 reverse ease-in;
 }
.grapeAnimate {
    animation: animateGrape 6s alternate  1 ease;
}
.bottleA {
    animation: botA 3s alternate  1 ease;
}
.grape4Animate {
    animation: animateGrape4 11s 1  ease-out;
}
.grape3Animate {
    animation: animateGrape3 7s 1  ease-out;
}
.grape2Animate {
    animation: animateGrape2 5s 1  ease-in-out;
}
.grape1Animate {
    animation: animateGrape1 7s 1  ease-in;
}
.introGrape13 {
    animation: introG13 10s 1  ease-out;
}
.introGrape12 {
    animation: introG12 13s 1  ease-in-out;
}
.singleGrapeMain31 {
    animation: singleG31 5s 1 ease-out;
}
.singleGrapeMain1 {
    animation: singleG1 7s 1 ease-in;
}
.singleGrapeMain3 {
    animation: singleG3 4s 1  ease-in-out;
}

@keyframes singleG31 {
    from {
        top: 70%;

    }
    to {
        top: 180%;
    }}
@keyframes singleG1 {
    from {
        top: 82%;

    }
    to {
        top: 180%;
    }}
@keyframes singleG3 {
    from {
        top: 40%;

    }
    to {
        top: 180%;
    }}


@keyframes introG13 {
    from {
        top: 40%;

    }
    to {
        top: 180%;
    }}
@keyframes introG12 {
    from {
        top: 20%;

    }
    to {
        top: 180%;
    }}
@keyframes animateGrape1 {
    from {
        top: 80%;

    }
    to {
        top: 180%;
    }}
@keyframes animateGrape2 {
    from {
        top: 20%;

    }
    to {
        top: 180%;
    }}
@keyframes animateGrape4 {
    from {
        top: 30%;

    }
    to {
        top: 180%;
    }}
@keyframes animateGrape3 {
    from {
        top: 75%;

    }
    to {
        top: 180%;
    }}
@keyframes animateGrape {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-100px); }
    100% { transform: translateY(0); }
}
@keyframes botA {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-100px); }
    100% { transform: translateY(0); }
}
@keyframes introGrape13Animation {
    from {
        top: 40%;
        left: 0;
    }
    to {
        top: 0;
        left: 0;
    }
}
.introgrape12 {
    z-index: 5;
    position: absolute;
    display: block;
    top: 20%;
    right: 0;
}
.singleGrapeMain31 {
    z-index: 5;
    position: absolute;
    display: block;
    top: 70%;
    left: 20%;
}
.singleGrapeMain1 {
    z-index: 5;
    position: absolute;
    display: block;
    top: 82%;
    left: 44%;
}
.singleGrapeMain3 {
    z-index: 5;
    position: absolute;
    display: block;
    top: 40%;
    right: 30%;
}
.greenCircle {
    z-index: 8;
    position: absolute;
    display: block;
    width: 579px;
    height: 579px;
    top: 54%;
    left: 38%;

}
.ellipse  {
    z-index: 5;
    position: absolute;
    display: block;
    top: 60%;
    left: 45%;
}
.n1941 {
    z-index: 5;
    position: absolute;
    display: block;
    top: 64%;
    left: 49%;
}
.leafBig {
    z-index: 7;
    position: absolute;
    display: block;
    top: 72%;
    right: 36%;
transform-origin: -38% -38%;
    transform-style: preserve-3d;

}
.leafBigA {
    animation: spinLeafBig linear 4s infinite;
}
@keyframes spinLeafBig {
    100% {transform:rotate(360deg)}
    /*0%   { transform: translate(0, 0); }*/
    /*25%  { transform: translate(80px, 0); }*/
    /*50%  { transform: translate(140px, 80px); }*/
    /*75%  { transform: translate(0, 80px); }*/
    /*100% { transform: translate(0, 0); }*/
}
@keyframes spinLeafS1 {
    from {
        transform:  rotate(0deg) translateY(10em)
        rotate(0deg) translateY(-10em)
    }
    to {
        transform:  rotate(360deg) translateY(-15em)
        rotate(360deg)
    }
}
@keyframes spinLeafS2 {
    from {
        transform:  rotate(0deg) translateY(-10em)
        rotate(0deg) translateY(-10em)
    }
    to {
        transform:  rotate(180deg) translateY(-20em)
        rotate(360deg)
    }
}
.leafSmaller1 {
    z-index: 5;
    position: absolute;
    display: block;
    top: 69%;
    right: 26%;
    transform-origin: -70px -20px;
    transform-style: preserve-3d;
}
.leafSmaller1A {
    animation: spinLeafS1 linear 6s infinite;
    transform-origin: -70px -20px;
}

.leafSmaller2 {
    z-index: 5;
    position: absolute;
    display: block;
    top: 54%;
    right: 55%;
    transform-origin: 120% bottom;

}
.leafSmaller2A {
    animation: spinLeafS2 linear 4s infinite;
}
.glassLeft {
    z-index: 5;
    position: absolute;
    display: block;
    top: 30%;
    left: 0
}
.glassRight {
    z-index: 5;
    position: absolute;
    display: block;
    top: 18%;
    right: 0
}
 @font-face {
    font-family: 'Abraham Lincoln';
    src: url('../fonts/AbrahamLincoln.eot');
    src: local('☺'), url('../fonts/AbrahamLincoln.woff') format('woff'), url('../fonts/AbrahamLincoln.ttf')
    format('truetype'), url('../fonts/AbrahamLincoln.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
.exploreText {
    z-index: 5;
    top: 58%;
    left: 25%;
    width: 55%;
    height:100%;
    position: absolute;
    display: block;
    font-family:'Abraham Lincoln';
    font-style: normal;
    font-weight: normal;
    font-size: 90px;
    line-height: 90px;
    color: white;
    text-align: center;
}
.region {
    font-family: Abraham Lincoln;
    font-style: normal;
    font-weight: normal;
    font-size: 86px;
    line-height: 86px;
    color: #ADC62C;
    text-align: center;
    padding-top: 1em;
}
.climate {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: white;
    width: 876px;
    height: 102px;
    margin: 0 auto;
    padding-top: 2em;
    font-style: italic;
    text-align: center;

}


.learnAbout {
    z-index: 5;
    top: 73%;
    left: 25%;
    width: 55%;
    height:100%;
    position: absolute;
    color: white;
    font-family: 'Roboto',  sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
}

.middle {
    position: relative;
    height: 60%;
}
.middlePicture {
    background:  url("../pictures/vinice-3 1.png");
    background-blend-mode: hard-light;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    position: absolute;
    background-size: cover;
    background-position: right bottom;
    box-shadow:  0 0 48px 48px  #151515 inset;
}
.bottom {
    height: 20%;
    position: relative;
    background: url("../pictures/lines 1 (1).png")  #151515;
    background-blend-mode: overlay;
    background-size: contain;
    width: 100%;
    box-shadow:  0 0 48px 48px  #151515 inset;
}
.recButton {
    background-color: #151515;
    position: absolute;
    width: 172px;
    height: 77px;
    display: inline-block;
    left: 45%;
    z-index: 4;
    border: 1px solid #ADC62C;
    border-radius: 38.5px;
    cursor: default;
}
.recButton:focus {
    outline: none;
}
.textLearnMore {
    position: absolute;
    z-index: 6;
    left: 23%;
    top: 33%;
    width: 92px;
    height: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    cursor: default;
}
.midText {
    position: absolute;
    width: 540px;
    height: 90px;
    top: 72%;
    left: 38%;
    font-family: Roboto;
    font-style: italic;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    text-align: center;
    z-index: 6;
}
[data-aos="reveal-right"] {
    transform: scaleX(1);
    transform-origin: 100% 0;
    transition-property: transform;
    transition-delay: 0.5s;
}

[data-aos="reveal-right"].aos-animate {
    transform: scaleX(0);
    animation-duration: 3s;
}

.aboutUsBut {
    cursor: pointer;
}
.aboutUsBut:hover {
    animation: blur .75s ease-out infinite;
}
@keyframes blur {

    from {
        text-shadow:0 0 10px #fff,
        0 0 10px #fff,
        0 0 25px #fff,
        0 0 25px #fff,
        0 0 25px #fff,
        0 0 25px #fff,
        0 0 25px #fff,
        0 0 25px #fff,
        0 0 50px #fff,
        0 0 50px #fff,
        0 0 50px #ADC62C,
        0 0 150px #ADC62C,
        0 10px 100px #ADC62C,
        0 10px 100px #ADC62C,
        0 10px 100px #ADC62C,
        0 10px 100px #ADC62C,
        0 -10px 100px #ADC62C,
        0 -10px 100px #ADC62C;

    }
}
