.wrapper {
    background-color: #212020;
    width: 1920px;
    height: 3603px;
    position: relative;
}

.headerPicture {
    display: flex;
    top: 0;
   opacity: 0.7;
    background: black url("../pictures/201905_or 1.jpg");
    background-blend-mode: hard-light;
    width: 65%;
    height: 16%;
    background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.middlePicture {
    background-image: url("../pictures/vinice-3 1.png");
    background-repeat: no-repeat;
    width: 65%;
    height: 26%;
    opacity: 0.4;
    position: absolute;

}