.wrapper {
    background-color: #212020;
    width: 1920px;
    height: 3603px;
    position: relative;
}

.headerPicture {
    display: flex;
    left: 7%;
    position: absolute;
    top: 0;
    opacity: 0.4;
    background-image: url("../pictures/201905_or 1.jpg");
    width: 65%;
    height: 16%;

    background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;

}
