.popup {
    background-color: black;
    position: absolute;
    width: 662px;
    height: 522px;
    z-index: 4;
    left: 33%;
    top: 4%;

}

.cross1 {
    position: absolute;
    width: 22.63px;
    height: 22.63px;
    left: 603px;
    top: 43px;
    cursor: pointer;
}

.formPop {
    width: 383px;
    height: 330px;
    margin: 0 auto;
    margin-top: 14%;
}

.nameInput {
    left: 140px;
    top: 96px;
}

.telInput, .nameInput {
    width: 383px;
    height: 56px;
    background: #FFFFFF;
    border-radius: 48.5px;
    margin-bottom: 1.5em;
    padding-left: 1em;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}

.telInput {
    left: 140px;
    top: 174px;
}

.userInfo {
    display: flex;
    flex-flow: row;
    width: 383px;
    height: 20px;
    left: 140px;
    top: 272px;
    flex-wrap: wrap;
    margin: -20px -20px;

}

.ageChoose {
    display: flex;
    width: 60px;
    height: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #A7A7A7;
    z-index: 8;
    margin: 20px;

}

.age20, .age30, .age40 {

    position: absolute;
    width: 20px;
}

.agy {
    display: flex;
    width: 43px;
    height: 16px;
    left: 265px;
    top: 274px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: white;
    margin: 20px;
}

.buttons {
    display: flex;
    flex-flow: row;

}

.downloadFoto {
    display: flex;
    flex-flow: row;
    position: absolute;
    width: 195px;
    height: 84px;
    left: 140px;
    top: 342px;
    background: #2E2E2E;
    border-radius: 42px;
}

.downloadFoto > span {
    display: flex;
    position: relative;
    width: 74px;
    height: 32px;
    left: 22px;
    top: 27px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.sendB {
    left: 359px;
    display: flex;
    position: absolute;
    width: 164px;
    height: 84px;
    top: 342px;
    border: 1px solid #ADC62C;
    box-sizing: border-box;
    border-radius: 42px;
    background-color: #151515;
    outline: none;
    cursor: pointer;


}

.sendT {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    width: 32px;
    height: 16px;
    left: 56px;
    top: 33px;
    position: relative;
    z-index: 7;
    outline: none;
    cursor: pointer;
}

.cloudB {
    background: url("../pictures/Vector (4).png");
    display: flex;
    position: relative;
    width: 32px;
    height: 28px;
    left: 42px;
    top: 26px;
    cursor: pointer;
}
